@import "../../../../styling/globalVariables";

.sub {
    
    color: $black;
    background-color: rgba($color: $grey-light, $alpha: 0.95);
    width: 100%;
    padding: $padding-large;

    &-container {
        margin-top: $margin-top;
        .subcontent {
            padding: $padding-large;
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;

            .section {
                flex: 1;
                padding: $padding-medium;
                text-align: left;
                margin-right: $margin-small;
            }
    
            .first-area {
                max-width: 33%;
                flex: 1;
            }
            .second-area {
                max-width: 33%;
                flex: 1;
            }
            .third-area {
                flex: 1;
            }
        }
    }

    
}