/* Colours */
$white: #ffffff;
$black: #000000;
$black-alt: #0c0c0c;
$grey: #808080;
$grey-light: #d3d3d3;
$grey-dark: #545454;
$white-alt: #f5f5f5;
$blue: #0000ff;
$blue-alt: #2196f3;
$blue-light-sky: #87cefa;
$blue-dodger: #1e90ff;
$red: #f00;
$green: #0f0;
$pink-alt: #fb0094;
$yellow: #ff0;
$navy: #060b26;

/* Margins */
$margin-top: 40px;
$margin-top-small: 30px;

/* Padding */
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;

/* Font Sizes */
$font-size-h1: 40px;
$font-size-h2: 30px; 
$font-size-h3: 20px;
$font-size-h4: 10px;
$font-size-h5: 5px;
$font-size-main-content: 20px;
$font-size-sub-content: 13px;

