@import "../../../styling/globalVariables";

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: $margin-small;
    &-top {
        display: flex;
    }

    &-bottom {
        font-size: 12px;
        margin-top: 10px;
        justify-content: flex-start;
    }

    &-image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
    &-text {
        padding: 10px;
        border-radius: 20px;
        background-color: $grey;
        color: $white;
        max-width: 300px;
    }
    
    &.own {
        align-items: flex-end;

        .message-text {
            background-color: $green;
        }
    }
}